 <div class="card__wrapper">
  <% @prototypes.each do |prototype| %>
    <div class="card">
      <div class="card__body">
           <%= link_to prototype_path(prototype.id) do %>
            <%= image_tag prototype.image.variant(resize: '500x500'), class: 'card__img' if prototype.image.attached?%>
           <% end %>
            <div class='card__title'>
              <%= link_to prototype.title, prototype_path(prototype.id) %>
            </div>
            <div class='card__summary'>
            <%= link_to prototype.catch_copy %>
            </div>
            <div class='card__user'>
           
             by<%= link_to prototype.user.name, user_path(prototype.user), class: :greeting__link %>
           
           
            </div>
      </div>
    </div>
 <% end %>
</div>